<aside>
  <div class="wrapper">
    <h2>Questions or comments</h2>
    <p>If you have problems with this form, or need to talk to us about anything else you can contact us in the following ways:</p>
    <div class="panel">
      <h3>Contact us online</h3>
      <p>Use our form to send us your questions or comments.</p>
      <div class="cta-link"><a href="#">Submit a question</a></div>
    </div>
    <div class="panel">
      <h3>Phone us</h3>
      <p>Sometimes it is easier to speak to someone on the phone.</p>
      <p><strong>Call us on 0300 123 1022</strong></p>
    </div>
    <div class="panel">
      <h3>Write to us</h3>
      <p>Cancer Research UK<br/>
      Angel Building<br/>
      407 St John Street<br/>
      London EC1V 4AD</p>
      <p><strong>Fax: 020 3469 6400</strong></p>
    </div>
  </div>
</aside>
